* {
    box-sizing: border-box;
}
/*
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}

.col-1 {
    width: 8.33%;
    padding: 0 10px;
}
.col-2 {
    width: 16.66%;
    padding: 0 10px;
}
.col-3 {
    width: 25%;
    padding: 0 10px;
}
.col-4 {
    width: 33.33%;
    padding: 0 10px;
}
.col-5 {
    width: 41.66%;padding: 0 10px;
}
.col-6 {
    width: 50%;padding: 0 10px;
}
.col-7 {
    width: 58.33%;padding: 0 10px;
}
.col-8 {
    width: 66.66%;padding: 0 10px;
}
.col-9 {
    width: 75%;padding: 0 10px;
}
.col-10 {
    width: 83.33%;padding: 0 10px;
}
.col-11 {
    width: 91.66%;padding: 0 10px;
}
.col-11 {
    width: 100%;padding: 0 10px;
}*/

.offset-1 {
    margin-left: 8.33%;
}

/*.row:after {
    content: "";
    clear: both;
    display: block;
}*/

.container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;

}

/* Сетка с использованием flex */

.row {
    display: flex;
    margin-left: -10px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 10px;
}

.col-1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
}
.col-2 {
    flex-basis: 16.66%;
    max-width: 16.66%;
}
.col-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 10px;
}
.col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 10px;
}
.col-5 {
    flex-basis: 41.66%;
    max-width: 41.66%;
    padding: 0 10px;
}
.col-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 10px;
}
.col-7 {
    flex-basis: 58.33%;
    max-width: 58.33%;
    padding: 0 10px;
}
.col-8 {
    flex-basis: 66.66%;
    max-width: 66.66%;
    padding: 0 10px;
}
.col-9 {
    flex-basis: 75%;padding: 0 10px;
    max-width: 75%;
}
.col-10 {
    flex-basis: 83.33%;padding: 0 10px;
    max-width: 83.33%;
}
.col-11 {
    flex-basis: 91.66%;padding: 0 10px;
    max-width: 91.66%;
}
.col-12 {
    flex-basis: 100%;padding: 0 10px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
    .row {
        flex-wrap: wrap;
    }
}
