 body {
     margin: 0;
     font-family: 'Source Sans Pro';
     letter-spacing: 0.025em;
     width: 100%;
 }

 * {
     box-sizing: border-box;
 }

 .first {
     background-color: black;
     color: white;
     background-image: url("../images/banner.jpg");
     width: 100%;
     height: 560px;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .first h1 {
     border-bottom: 2px solid;
     padding-bottom: 19px;
     font-size: 60px;
     font-weight: 600;
     letter-spacing: 0.46px;
     line-height: 100px;
     margin-bottom: 42px;
 }

 .main-text,
 .imagetext {
     font-weight: 600;
     font-size: 13px;
     text-transform: uppercase;
     letter-spacing: 3.26px;
     line-height: 21px;
 }

 a {
     color: white;
     text-decoration: none;
 }

 .image-block {
     background: url("../images/pic01.jpg");
     height: 430px;
     background-repeat: no-repeat;
     background-size: cover;
     color: white;

 }

 .button {
     color: white;
     border: 2px solid;
     padding: 13px 25px;
     text-decoration: none;
     text-transform: uppercase;
     position: relative;
     bottom: 12px;
     font-size: 15px;
     font-weight: 600;
     letter-spacing: 3.73px;
     margin: 0px 80px;
 }

 .arrow-white {
     color: white;
 }

 .img-1 {
     background-image: url("../images/pic01.jpg");
 }

 .img-2 {
     background-image: url("../images/pic02.jpg");
 }

 .img-3 {
     background-image: url("../images/pic03.jpg");
 }

 .img-4 {
     background-image: url("../images/pic04.jpg");
 }

 .img-5 {
     background-image: url("../images/pic05.jpg");
 }

 .img-6 {
     background-image: url("../images/pic06.jpg");
 }

 .column60 {
     width: 60%;
 }

 .column40 {
     width: 40%;
 }

 .image-block h2 {
     border-bottom: 1px solid;
     padding-bottom: 11px;
     max-width: 200px;
     font-size: 32.66px;
     font-weight: 600;
     letter-spacing: 0.466px;
     line-height: 53.9px;
     margin-bottom: 18px;
 }

 .row:after {
     content: "";
     display: block;
     clear: both;
 }

 .fade {
     padding: 135px 70px;
     height: 100%;
 }

 .fade1 {
     background: rgba(24, 198, 220, 0.81);
     transition: background 0.5s ease 0.1s;
 }

 .fade1:hover {
     background: rgba(0, 0, 0, 0.0);
 }

 .fade2 {
     background: rgba(140, 127, 183, 0.81);
     transition: background 0.5s ease 0.1s;
 }

 .fade2:hover {
     background: rgba(0, 0, 0, 0.0);
 }

 .fade3 {
     background: rgba(220, 120, 113, 0.81);
     transition: background 0.5s ease 0.1s;
 }

 .fade3:hover {
     background: rgba(0, 0, 0, 0.0);
 }

 .fade4 {
     background: rgba(218, 171, 127, 0.81);
     transition: background 0.5s ease 0.1s;
 }

 .fade4:hover {
     background: rgba(0, 0, 0, 0.0);
 }

 .fade5 {
     background: rgba(121, 153, 216, 0.81);
     transition: background 0.5s ease 0.1s;
 }

 .fade5:hover {
     background: rgba(0, 0, 0, 0.0);
 }

 .fade6 {
     background: rgba(122, 204, 179, 0.81);
     transition: background 0.5s ease 0.1s;
 }

 .fade6:hover {
     background: rgba(0, 0, 0, 0.0);
 }

 .darkfade {
     height: 100%;
     background: rgba(36, 46, 76, 0.81);
     padding: 140px 113px;
 }

 .button:hover,
 .label2:hover,
 .menu-button:hover,
 a.copyright:hover,
 .email-address:hover,
 .button-close:hover,
 .btn-log:hover {
     color: aqua;
 }

 .label:hover,
 .btn-start:hover,
 .blue-icons:hover {
     background-color: aqua;
 }

 .darkpart {
     color: white;
     width: 100%;
     height: 433px;
     background-color: rgb(41, 48, 72);
     padding: 47px 113px;
 }

 .darkpart h2 {
     border-bottom: 1px solid;
     padding-bottom: 12px;
     max-width: 280px;
     font-size: 32.66px;
     font-weight: 600;
     letter-spacing: 0.466px;
     line-height: 53.9px;
 }

 .bottomtext {
     font-weight: 300;
     text-transform: none;
     font-size: 18.6px;
     line-height: 30.8px;
     letter-spacing: 0.46px;
     margin-top: 40px;
 }

 .second {
     margin: 0;
     top: 30px;
     font-weight: 600px;
 }

 .fourth {
     background-color: rgb(35, 42, 65);
     display: grid;
     grid-template-columns: 58.3% 41.7%;
     grid-template-rows: 195px 195px 255px;
 }

 .contact-info {
     border-bottom: 1px solid rgb(41, 48, 72);
     border-left: 1px solid rgb(41, 48, 72);
 }

 .form {
     grid-row: 1/4;
     grid-column: 1/2;
     padding: 80px 55px 32px 110px;
     color: white;
     border-bottom: 1px solid rgb(41, 48, 72);
 }

 .form-text {
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 600;
     letter-spacing: 3.73px;
 }

 .form input,
 .form textarea {
     width: 100%;
     background-color: rgb(41, 48, 72);
     color: #fff;
     border: 2px solid transparent;
     padding: 15px;
     outline: none;
     margin-top: 20px;
     margin-bottom: 10px;
 }

 .form input:focus,
 .form textarea:focus {
     border-color: aqua;
 }

 .form textarea {
     max-width: 100%;
     min-width: 100%;
     min-height: 200px;
     max-height: 200px;
 }

 .form .row {
     margin-bottom: 20px;
 }

 .btn-send {
     color: #2a2f4a;
     background-color: #fff;
     margin: 15px 12px 0px 0px;
     padding: 15px 22px;
 }

 .btn-send:hover {
     background-color: aqua;
     color: #2a2f4a;
 }

 .btn-clear {
     color: #fff;
     background-color: rgb(35, 42, 65);
     margin-left: 0px;
 }

 .contact-info {
     padding: 40px 200px 120px 60px;
     color: white;
 }

 .email-address {
     border-bottom: 1px dotted;
     margin-left: 60px;
     font-size: 18.6px;
     font-weight: 300;
 }

 .icons {
     height: 40px;
     width: 40px;
     border-radius: 50%;
     background-color: white;
     padding: 10px 11px 11px 10px;
     margin-top: 22px;
 }

 i {
     color: #2a2f4a;
 }

 .oneline {
     float: left;
 }

 .toclear:after {
     content: "";
     display: block;
     clear: both;
 }

 h3 {
     margin-left: 20px;
     font-size: 25px;
     letter-spacing: 0.46px;
     margin-bottom: 10px;
 }

 a.copyright {
     margin-bottom: 30px;
     letter-spacing: 0.46px;
     text-decoration: none;
     font-weight: 300;
     border-bottom: 1px dotted;
 }

 .contact-text {
     text-transform: none;
     font-size: 18.6px;
     letter-spacing: 0.46px;
     text-decoration: none;
     font-weight: 300;
     margin-left: 55px;
 }

 .flex-container {
     display: flex;
     width: 100%;
     height: 120px;
     background-color: rgb(35, 42, 65);
     padding-left: 107px;
     padding-top: 51px;
     color: rgba(244, 244, 255, 0.2);
     font-size: 15.9px;
     font-weight: 300;
     text-transform: none;
 }

 .flex-block {
     margin-right: 20px;
 }


 .copyright {
     color: rgba(244, 244, 255, 0.2);
     font-size: 14.9px;
     margin-left: 0px;
 }


 .bottom-text1,
 .bottom-text2 {
     padding-right: 10px;
     border-right: 1px solid;
     margin-top: 0px;
 }

 .bottom-text2,
 .bottom-text3 {
     padding-left: 10px;
     margin-top: 0px;
 }

 /*  Меню  */

 header {
     display: block;
     position: fixed;
     width: 100%;
     height: 50px;
     color: white;
     text-transform: uppercase;
     font-size: 14.9px;
     font-weight: 600;
     letter-spacing: 4.66px;
     background-color: rgb(29, 40, 69);
     ;
 }

 i.menu-button {
     color: white;
 }

 .right {
     position: absolute;
     right: 25px;
     top: 0;
 }

 .label {
     position: absolute;
     left: 20px;
     background-color: white;
     color: rgb(41, 48, 72);
     padding: 2px 2px 2px 4px;
 }

 .label2 {
     position: absolute;
     left: 105px;
     top: 0;
 }

 .modal {
     display: none;
     background-color: rgba(35, 42, 65, 0.99);
     color: white;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
 }

 .button-close {
     width: 30px;
     height: 30px;
     position: fixed;
     top: 20px;
     right: 20px;
     color: white;
 }

 ul {
     position: fixed;
     left: 38%;
     right: 38%;
     top: 20%;
     font-size: 15.9px;
     font-weight: 600;
     letter-spacing: 3.73px;
     text-transform: uppercase;
     padding-left: 0;
 }

 li {
     list-style-type: none;
     width: 344px;
     height: 62px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-bottom: 1px solid rgb(53, 62, 91);
 }

 .btn-start,
 .btn-log {
     margin-top: 15px;
 }


 .btn-start {
     width: 344px;
     height: 62px;
     background-color: white;
     padding-bottom: 7px;
 }

 .btn-blue {
     color: rgba(35, 42, 65, 0.99);
 }

 .btn-log {
     border: 2px solid;
 }

 .without-border {
     border-bottom: none;
 }

 /*Адаптация*/

 @media (max-width: 1130px) {

     header {
         position: absolute;

     }

     .contact-text,
     .email-address {
         font-size: 15px;
         margin-left: 0px;
     }

     .first h1 {
         font-size: 30px;
     }

     .image-block h2,
     .darkpart h2 {
         font-size: 22px;
     }

     h3 {
         font-size: 17px;
         margin-left: 0px;
     }

     .main-text,
     .imagetext,
     .bottomtext {
         font-size: 14px;
     }

     .button {
         font-size: 13px;
         letter-spacing: 2.73px;
         width: 170px;
         display: flex;
         margin: 25px 0px 0px 0px;
         bottom: 0;
         padding: 10px 10px;
     }

     .first-button {
         margin-top: 3px;
     }

     .btn-clear {
         padding-left: 48px;
     }

     .oneline {
         display: block;
         float: none;
     }

     .contact-info {
         padding: 10px 10px 10px 35px;
     }

     ul {
         left: 30%;
         right: 30%;
         top: 20%;
         font-size: 12px;
         padding-left: 0;
     }
 }


 @media (max-width: 768px) and (min-width: 320px) {

     .column40,
     .column60,
     .contact-info,
     .forth {
         display: block;
         width: 100%;
     }

     .contact-info {
         height: 200px;
     }

     .image-block {
         height: 300px;
     }

     .fourth {
         display: block;
     }

     header {
         font-size: 10px;
         height: 38px;
     }

     .flex-container {
         padding-left: 20px;
         padding-top: 30px;
     }

     .contact-text,
     .email-address {
         font-size: 15px;
         margin-left: 0px;
     }

     .first h1 {
         font-size: 30px;
         line-height: 40px;

     }

     .darkfade {
         padding: 80px 65px;
     }

     .darkpart {
         padding: 10px 35px;
     }

     .image-block h2,
     .darkpart h2 {
         font-size: 18px;
     }

     h3 {
         font-size: 16px;
         margin-left: 0px;
     }

     .main-text,
     .imagetext,
     .bottomtext,
     .form-text {
         font-size: 13px;
     }

     .button {
         font-size: 11px;
         letter-spacing: 2.73px;
         width: 145px;
         display: flex;
         margin: 25px 0px 0px 0px;
         padding: 10px;
     }

     .button.second {
         margin-top: 0;
     }

     .first-button {
         margin: 4px 0px 3px 8px;
     }

     .arrow-second {
         margin: 1px 0px 3px 8px;
     }

     .form {
         padding: 35px 35px;
     }

     .btn-clear {
         padding-left: 48px;
     }

     .form input,
     .form textarea {
         padding: 11px;
     }

     .fade {
         padding: 55px 35px;
     }

     .copyright,
     .bottom-text1,
     .bottom-text2,
     .bottom-text3 {
         font-size: 11px;
     }

     .label2 {
         left: 85px;
         top: 1.5px;
     }

     ul {
         left: 25%;
         right: 25%;
         top: 15%;
         font-size: 10px;
         padding-left: 0;

     }

     li,
     .btn-start {
         width: 225px;
         height: 50px;
     }

     .button-close.fa-2x {
         font-size: 1em;
     }
 }

 @media (max-width: 768px) and (min-width: 480px) {
     ul {
         left: 32%;
         right: 35%;
     }
